# Ignore frontend configuration file
frontend/src/config.js
backend/key.txt
backend/api_key.txt
backend/api_key.txt
backend/message_config.txt
Images/.DS_Store
Images/bone_graphic.png
Images/bones_oven.jpg
Images/charlie1.jpeg
Images/charlie2.jpeg
Images/charlie3.jpeg
Images/charlie4.jpeg
Images/family.JPG
Images/large_bag.jpeg
Images/large_bone.jpeg
Images/large_bone2.jpeg
Images/logo.png
Images/sarah_bones.jpg
Images/sarah_kitchen.jpg
Images/small_bag.jpeg
Images/small_bone.jpeg
Images/story.jpeg
Logo Concepts/.DS_Store
Logo Concepts/crop_transparent.png
Logo Concepts/crop_transparent_big.png
Logo Concepts/DALL·E 2023-12-01 10.44.28 - A playful and cute logo for a dog treat business called 'Bark and Bones'. The logo should feature a happy, cartoon-style dog, possibly wagging its tai.png
Logo Concepts/logo.png
Logo Concepts/logo.xcf
Logo Concepts/main.png
Logo Concepts/main_blue.png
Logo Concepts/main_white.png
Logo Concepts/main_white_big.png
Logo Concepts/STICKERS/.DS_Store
Logo Concepts/STICKERS/amazon_screenshot.png
Logo Concepts/STICKERS/crop.png
Logo Concepts/STICKERS/crop_blue.png
Logo Concepts/STICKERS/crop_order_number.png
Logo Concepts/STICKERS/crop_website_number.png
Logo Concepts/STICKERS/crop_white.png
twilio_recovery_code.txt
backend/orders.txt
backend/log.txt
