body {
    display: flex;
    flex-direction: column;
    justify-content: top; /* Align content to the top */
    align-items: center; /* Center content horizontally */
    max-width: 1360px; /* Maximum width of the body */
    width: calc(100% - 40px); /* Adjust width based on desired horizontal margins */
    margin: 0px auto; /* 20px margin at the top and bottom, auto for left and right */
    background-color: #FFF2dd; /* Set the background color for the entire page */
    padding: 0; /* Reset default padding */
}

body, h1, h3, p, a, nav, button, input, label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #24261f;
}

p {
    display: flex; /* Use flexbox to center the image within the container */
    justify-content: left; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding-inline: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 1.1em; /* 50% larger font size */
}

main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.page {
    display: none; /* Set .page as a flex container */
    justify-content: center; /* Centers children elements horizontally within the flex container */
    align-items: center;
    background-color: #f5dfc4;
    width: 100%;
    padding-top: 10px;
    margin: 20px;
    margin-top: 0px;
    border-radius: 20px;
    flex-direction: column;
}

.page.active {
    display: flex; /* Ensure that active pages are also displayed as flex containers */
}

.content-container{
    display: flex; /* Use flexbox to center the image within the container */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    flex-direction: column;
    gap: 10px; /* Replace 10px with the desired space */
    overflow: hidden; /* Ensures the content respects the border radius */
}

.image-container {
    display: flex; /* Use flexbox to center the image within the container */
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    margin-inline: 20px;
    padding-block: 10px;
    flex-direction: row;
    gap: 10px; /* Replace 10px with the desired space */
    overflow: hidden; /* Ensures the content respects the border radius */
}


.image {
    width: 600px;
    max-width: 100%; /* Ensure the image is not wider than the container */
    max-height: 100%; /* Ensure the image is not taller than the container */
    border-radius: 25px; /* Rounded corners of the image if you want them */
    object-fit: contain; /* This will ensure the image aspect ratio is maintained */
}

.half-image {
    width: 280px;
    max-width: calc(50% - 5px); /* Ensure the image is not wider than half the container */
    max-height: 100%; /* Ensure the image is not taller than the container */
    border-radius: 25px; /* Rounded corners of the image if you want them */
    object-fit: contain; /* This will ensure the image aspect ratio is maintained */
}

.dog-gif {
    width: 280px;
    max-width: calc(50% - 5px); /* Ensure the image is not wider than half the container */
    max-height: 100%; /* Ensure the image is not taller than the container */
    margin-bottom: 0px;
    border-radius: 25px; /* Rounded corners of the image if you want them */
    object-fit: contain; /* This will ensure the image aspect ratio is maintained */
}

.thin-content{
    display: flex;
    flex-direction: column;
    justify-content: top; /* Align content to the top */
    align-items: center; /* Center content horizontally */
    max-width: 750px;
    width: 100%;
}

/* Additional styles for a friendly tone */
h1 {
    color: #24261f; /* Darker color for headings */
    padding-inline: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* Additional styles for a friendly tone */
h3, h4 {
    color: #24261f; /* Darker color for headings */
    padding-inline: 20px;
    margin-bottom: 0%;
    padding-bottom: 0%;
    text-align: center;
    margin-bottom: 5px;
}

h3.contact-info {
    margin-bottom: 20px;
}

button{
    transition: transform 0.15s ease;
}

