#order-form {
    width: 100%; /* Full width of the form */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    margin-inline: 5px;
    max-width: 90%; /* Ensure the image is not wider than half the container */
    margin: 0 auto; /* Center form in the page */
    padding: 20px;
    padding-top: 0px;
}

#order-form p {
    width: 100%; /* Full width of the form */
    margin-inline: 0%;
    padding-inline: 0%;
    margin-top: 0%;
}

#order-form label {
    width: 100%; /* Full width of the form */
    margin-top: 10px;
}

#order-form select,
#order-form input[type=text],
#order-form textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%; /* Full width of the form */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

#order-form input[type=submit] {
    width: auto;
    padding: 10px 20px;
    margin-top: 5px;
    background-color: #63bfe4; /* Sky blue background */
    color: #FFF5EE; /* Very light blonde color for text */
    font-weight: bold;
    font-size: 14pt;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#order-form input[type=submit]:hover {
    background-color: #B0E0E6; /* Lighter blue for hover */
}

#cart {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
}

#cart-items {
    width: 100%; /* Full width of the form */
    list-style-type: none;
    padding-left: 0;
    margin-top: 5px;
    margin-bottom: 0px;
}

#product-options {
    display: flex;
    justify-content: space-between;
}

.product-item {
    cursor: pointer;
    text-align: center;
    padding: 8px;
    border-radius: 16px;
    transition: transform 0.15s ease;
}

.product-item:last-child {
    margin-right: 0;
}

.product-item img {
    border-radius: 25px; /* Rounded corners of the image if you want them */
    width: 90%; /* Adjust as needed */
    height: auto;
}

.product-item label {
    display: block;
    margin-top: 5px;
}

#clear-cart {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #dcb798; /* Sky blue background */
    color: #24261f; /* Very light blonde color for text */
    border: none;
    font-size: 1em;
    border-radius: 8px;
    cursor: pointer;
}

#clear-cart:hover {
    background-color: #ba9c84; /* Lighter blue for hover */
}

.button-container {
    display: flex;
    align-items: center; /* Center content vertically */
    height: 50px;
}

#home-order-now {
    background: linear-gradient(57deg, #c9a88b, #ba9c84, #d5cbac, #97D2FB, #83b9ff); /* Rainbow gradient */
    color: #24261f; /* color for text */
    font-weight: 700;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    padding: 7px 25px;
    font-size: 1.4em;
    background-size: 400% 400%; /* Larger background size for animation */
    animation: rainbowAnimation 3s ease infinite; /* Animation for the gradient */
}

button{
    transition: transform 0.15s ease;
}

.product-item-scale {
    transform: scale(1.15);
    transition: transform 0.09s ease; /* Smooth transition for the scale effect */
}

@media (hover: hover) and (pointer: fine) {
    .product-item:hover {
        background-color: #dbb89a;
    }
    button:hover {
        transform: scale(1.2); /* Slightly larger on hover */
    }
}

@keyframes rainbowAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
