#order-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px; /* Adjust width as necessary */
    margin: 0 auto; /* Center form in the page */
    padding: 20px;
}

#order-form label {
    margin-top: 10px;
}

#order-form select,
#order-form input[type=text],
#order-form textarea {
    width: 100%; /* Full width of the form */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Include padding and border in the element's total width */
}

#order-form input[type=submit] {
    width: auto;
    padding: 10px 20px;
    margin-top: 15px;
    background-color: #63bfe4; /* Sky blue background */
    color: #ffffff; /* Very light blonde color for text */
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#order-form input[type=submit]:hover {
    background-color: #B0E0E6; /* Lighter blue for hover */
}

#cart {
    margin-top: 20px;
}

#cart-items {
    list-style-type: none;
    padding-left: 0;
}

#add-to-cart {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #63bfe4; /* Sky blue background */
    color: #ffffff; /* Very light blonde color for text */
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#add-to-cart:hover {
    background-color: #B0E0E6; /* Lighter blue for hover */
}

#clear-cart {
    margin-top: 10px;
    padding: 5px 15px;
    background-color: #d3cccc; /* Sky blue background */
    color: #24261f; /* Very light blonde color for text */
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#clear-cart:hover {
    background-color: #b3b3ad; /* Lighter blue for hover */
}
