/* Style for the top bar */
header {
    display: flex;
    flex-direction: row; /* Elements aligned in a row */
    justify-content: left; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    background-color: #87CEEB; /* Sky blue background */
    border-radius: 20px; /* Rounded corners for the top bar */
    width: 100%; /* Full width of the container */
    margin: 20px;
}


#logo {
    height: 155px; /* 35% Larger logo size */
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 15px;
    transition: transform 0.3s ease; /* Animation for logo */
}

#logo:hover {
    transform: scale(1.1); /* Slightly larger on hover */
}

nav ul {
    list-style-type: none;
    padding-inline: 10px;
}

nav li {
    display: inline;
    margin-right: 10px;

}

nav a {
    text-decoration: none;
    color: #FFF5EE; /* Very light blonde color for text */
    font-weight: bold;
    font-size: 1.5em; /* 50% larger font size */
    transition: color 0.3s ease, transform 0.3s ease; /* Smooth color and transform transitions */
    display: inline-block; /* Allows transform to apply properly */
    padding: 5px 15px;
    line-height: 1.5em; /* Increase line height for better spacing between wrapped lines */
    border-radius: 8px;
}

nav a.active {
    background-color: #f5dfc4; /* Light khaki for the active link */
    color: #24261f; /* Darker color for active link text */
}

nav a:hover:not(.active) {
    background-color: #B0E0E6; /* Powder blue for hover */
    color: #24261f; /* Darker color for hover text */
    transform: scale(1.15); /* More noticeable growth on hover */
}
